main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
    margin: 20px;
  padding: 20px;
    
}
app-square{

    border: 1px gray solid;
    height: 200px;
    display: flex;
  align-items: center;
  justify-content: center;
    
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    background-color: #007bff; /* Blaue Farbe */
    color: white;
  
    
    text-align: center;
    transition: background-color 0.3s, transform 0.2s ease;

    &:hover {
      background-color: #0056b3; /* Dunkleres Blau bei Hover */
      transform: scale(1.05);  /* Leichter Zoom-Effekt */
    }
}